@font-face {
  font-family: "oswald-regular";
  src:
    url("fonts/Oswald-Regular.woff2") format("woff2"),
    url("fonts/Oswald-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "raleway-regular";
  src:
    url("fonts/Raleway-Regular.woff2") format("woff2"),
    url("fonts/Raleway-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h1,
h2 {
  font-family: "oswald-regular", sans-serif;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  font-family: "raleway-regular", sans-serif;
}
