* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  height: 100vh;

  display: grid;
  place-items: center;
}

form {
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 16px;
  border: 1px solid black;
  border-radius: 12px;
}

label,
input {
  display: inline-block;
  border-radius: 4px;
}

label {
  margin-bottom: 4px;
}

input {
  padding: 4px;
  width: 100%;
}

button {
  align-self: start;

  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
}

input,
button {
  border: 1px solid black;
}

.invalid {
  border-color: #990000;
  background-color: #ffdddd;
}

.validation-msg {
  color: red;
  margin-left: 8px;
}

#form-log {
  display: inline-block;
  margin-left: 8px;
}
